{{/* pages layout link */}}
{{ define "main" }}
<div class="links-content">
  <div class="links-wrap">
    {{ range .Site.Data.link }}
    <div class="link-item layout-padding">
      <a href="{{ .link | safeURL }}" target="_blank" rel="noopener" class="content-padding-primary soft-size--primary soft-style--box">
        {{ if .cover }}
        <img src="{{ .cover | safeURL }}" alt="{{ .name }}" class="soft-size--round soft-style--box">
        {{ end }}
        <div>
          <h4 class="text-ellipsis">{{ .name }}</h4>
          {{ with .description }}
          <p class="text-ellipsis">{{ . }}</p>
          {{ end }}
        </div>
      </a>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "widget" }}
<aside class="widget-info">
  {{ partial "widget/widget-author.html" . }}
  
  {{ partial "widget/widget-categories.html" . }}

  {{ partial "widget/widget-tags.html" . }}
</aside>
{{ end }}