<section class="aside-widget widget-articles">
  <h2 class="widget-title">Latest Articles</h2>
  <div class="widget-body">
    {{ $articles := where (where .Site.RegularPages "Params.categories" "intersect" .Params.categories) ".File.UniqueID" "ne" .File.UniqueID }}
    {{ if eq (len $articles) 0 }}
      {{ $articles = where (where .Site.RegularPages "Params.tags" "intersect" .Params.tags) ".File.UniqueID" "ne" .File.UniqueID }}
    {{ end }}
    {{ if eq (len $articles) 0 }}
      {{ $articles = where (where .Site.RegularPages "Section" "ne" "") ".File.UniqueID" "ne" .File.UniqueID }}
    {{ end }}
    <ul class="post-list">
      {{ range first 5 $articles }}
        <li class="post-item"><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </div>
</section>