.footer-container {
  @include block-container(true);
  text-align: center;
  padding: 40px 0;

  p {
    line-height: 1.6;
    margin: 6px 0;
  }

  a {
    margin: 0 3px;
    font-weight: bolder;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--theme-active-color);
    }
  }
}