.footer-container {
  @include block-container(true);
  text-align: center;
  padding: 40px 0;

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;

    a {
      display: block;
      text-align: center;
      margin: 10px;
      width: 45px;
      height: 45px;
      padding: 10px;
      @include soft-box(12px, 4px);

      &:hover svg.icon {
        fill: #14281d;
      }

      svg.icon {
        display: block;
        fill: #aeacb1;
        transition: fill 0.3s ease;
      }
    }
  }

  p {
    line-height: 1.6;
    margin: 6px 0;
  }

  a {
    margin: 0 3px;
    font-weight: bolder;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--theme-active-color);
    }
  }
}