.footer-container {
  @include block-container(true);
  text-align: center;
  padding: 40px 0;

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;

    a {
      display: block;
      text-align: center;
      margin: 10px;
      width: 45px;
      height: 45px;
      padding: 10px;
      @include soft-box(12px, 4px);

      &:hover svg.icon {
        fill: var(--theme-stress-color);
      }

      svg.icon {
        display: block;
        fill: var(--theme-low-color);
        transition: transitions(fill, 0.3s);
      }
    }
  }

  p {
    margin: 6px 0;
    color: var(--theme-dark-color);
  }

  a {
    margin: 0 3px;
    font-weight: bolder;
    color: var(--theme-stress-color);
    transition: transitions(color, 0.3s);

    &:hover {
      color: var(--theme-active-color);
    }
  }
}