.header-container {
  @include block-container;

  .header-inner {
    @include block-inner;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo h1 {
    font-size: 46px;
    font-weight: bolder;
    font-family: monospace, sans-serif;
    color: var(--theme-dark-color);
    @include soft-text(2px);
  }

  .header-nav {
    padding-left: 40px;

    a.header-nav--item {
      display: inline-block;
      color: var(--theme-dark-color);
      font-size: 16px;
      font-weight: bolder;
      font-family: monospace, sans-serif;
      padding: 5px 10px;
      overflow: hidden;
      transition: transitions((box-shadow, background-color, background-image), 0.3s);

      &:not(:last-child) {
        margin-left: 8px;
      }

      &:hover {
        @include soft-box(6px, 3px);
      }

      &:active {
        @include soft-box--active(6px, 3px);
      }
    }
  }
}