.header-container {
  height: 130px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-left: var(--layout-padding-x);
  padding-right: var(--layout-padding-x);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo h1 {
    font-size: 46px;
    font-weight: bolder;
    font-family: monospace, sans-serif;
    color: #3e3e5f;
  }

  .header-nav {
    padding-left: 40px;

    a.header-nav--item {
      color: #3e3e5f;
      font-size: 16px;
      font-weight: bolder;
      font-family: monospace, sans-serif;
      margin: 0 6px;
    }
  }
}