
@mixin block-container ($padding) {
  width: 100%;
  max-width: var(--layout-max-width);
  margin-left: auto;
  margin-right: auto;
  
  @if $padding {
    padding-left: var(--layout-padding-x);
    padding-right: var(--layout-padding-x);
  }
}

@mixin block ($isLarge) {
  position: relative;
  overflow: hidden;
  word-break: break-all;
  margin: var(--layout-padding-x);

  @if $isLarge {
    border-radius: 24px;
    padding: 40px 38px 46px;
    @include soft-box(24px, 6px);
  } @else {
    border-radius: 12px;
    padding: 20px 19px 23px;
    @include soft-box(18px, 4px);
  }
}

@mixin soft-box($radius, $size) {
  overflow: hidden;
  border-radius: $radius;
  background-color: var(--theme-bg-color);
  box-shadow: $size $size $size*2 var(--theme-bg-shadow),
    (-($size)) (-($size)) $size*2 var(--theme-bg-high);
}

@mixin centerBG {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}