.single-container {
  @include block-container(false);
  display: flex;
  align-items: flex-start;
  overflow: visible;
}

.single-container .article-info {
  flex: 0 1 calc(100% - 360px);
  max-width: calc(100% - 360px);

  .article-content {
    @include block(true);
  }
}

.single-container .widget-info {
  position: sticky;
  top: 0;
  width: 360px;
  min-width: 360px;
}