:root {
  --layout-max-width: 1200px;
  --layout-padding-x: 20px;
  --font-stress-size: 22px;
  --font-common-size: 16px;
  --font-base-size: 14px;
  --base-font: var(--font-base-size) / 1.8 'Open Sans', sans-serif;
}


// Media queries
// mq-pc = "screen and (min-width: 768px)"
// mq-mb = "screen and (max-width: 767px)"