:root {
  --layout-max-width: 1200px;
  --layout-padding-x: 20px;
  --theme-active-color: #f857a6;
}


// Media queries
// mq-pc = "screen and (min-width: 768px)"
// mq-mb = "screen and (max-width: 767px)"