$mq-pc: "screen and (min-width: 768px)";
$mq-mb: "screen and (max-width: 767px)";

:root {
  --layout-max-width: 1200px;
  --base-font: var(--font-base-size) / var(--font-base-lh) 'Open Sans', sans-serif;
  // 全局统一soft UI阴影 3px
  --soft-shadow: 3px;
}

@media #{$mq-pc} {
  :root {
    --layout-max-width: 1200px;
    --layout-padding-x: 20px;
    --font-large-size: 46px;
    --font-stress-size: 22px;
    --font-common-size: 16px;
    --font-base-size: 14px;
    --font-base-lh: 1.8;

    // 导航栏，文章卡片，右侧widget
    --content-large-padding: 40px 38px 46px;
    // 标签term，子内容children，上下一篇article-nav，友链link
    --content-primary-padding: 23px;

    // 导航栏，文章卡片，右侧widget
    --soft-large-radius: 24px;
    // social社交图标 返回顶部按钮 404按钮 标签term 子内容children，上下一篇article-nav，友链link
    --soft-primary-radius: 12px;
    // soft类文字 如导航栏，分页按钮，右侧widget term，文章内容中img，aplery，dplayer等
    --soft-small-radius: 6px;
  }
}

@media #{$mq-mb} {
  :root {
    --layout-max-width: 100%;
    --layout-padding-x: 10px;
    --font-large-size: 22px;
    --font-stress-size: 18px;
    --font-common-size: 14px;
    --font-base-size: 12px;
    --font-base-lh: 1.4;

    // 导航栏，文章卡片，右侧widget
    --content-large-padding: 30px 28px 34px;
    // 标签term，子内容children，上下一篇article-nav，友链link
    --content-primary-padding: 16px;

    // 导航栏，文章卡片，右侧widget
    --soft-large-radius: 16px;
    // social社交图标 返回顶部按钮 404按钮 标签term 子内容children，上下一篇article-nav，友链link
    --soft-primary-radius: 6px;
    // soft类文字 如导航栏，分页按钮，右侧widget term，文章内容中img，aplery，dplayer等
    --soft-small-radius: 4px;
  }
}
