<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <main id="content">
    <!-- {{ partial "card/card-banner.html" . }} -->

    <div class="single-container layout-block">
      <div class="article-info">
        <div class="article-header layout-padding">
          {{ partial "card/card-cover.html" . }}
        </div>

        <div class="article-content">
          <div class="markdown-body content-padding-large soft-size--large soft-style--box">
            {{ .Content }}
          </div>
        </div>

        {{- block "main" . }}{{- end -}}
      </div>

      {{- block "widget" . -}}{{- end -}}
    </div>
  </main>

  {{- partial "footer.html" . -}}

  {{- partial "footer-single" . -}}
</body>

</html>