{{/* taxonomies 下的某一分类 */}}
{{/* 模版查找顺序： 分类名称.terms.html > terms.html */}}
{{/*
如: 
[taxonomies]
  category = "categories"
  series = "series"
  tag = "tags"

/categories => category.terms.html > terms.html
/series => series.terms.html > terms.html
/tags => tag.terms.html > terms.html
*/}}

{{ define "main" }}
  {{ partial "card/card-banner.html" . }}
  
  <div class="terms-container layout-block">
    <div class="terms-inner">
      {{ range .Pages }}
        <div class="term-item layout-padding">
          <a href="{{ .Permalink | safeURL }}" class="content-padding-primary soft-size--primary soft-style--box" data-count="{{ len .Pages }}">{{ .Data.Term }}</a>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}